<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}|%p|%t| %m %l%n" />
		</Console>
		<File name="ose_log" fileName="../logs/ose.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%p|%t| %m %l%n</Pattern>
			</PatternLayout>
		</File>
		<File name="bus_log" fileName="../logs/bus.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%p|%t| %m %l%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.wnlc.git.bus" level="INFO">
			<AppenderRef ref="bus_log" />
		</Logger>
		<Logger name="com.wnlc.git.ose" level="INFO">
			<AppenderRef ref="ose_log" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>