<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg %logger{36}" />
		</Console>
		<File name="ose_log" fileName="${catalina.base}/logs/ose.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<File name="bus_log" fileName="${catalina.base}/logs/bus.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<logger name="com.wnlc.git.bus" level="INFO">
			<AppenderRef ref="bus_log" />
		</logger>
		<logger name="com.wnlc.git.ose" level="INFO">
			<AppenderRef ref="ose_log" />
		</logger>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>